body {
    background-color: #171529;
    color: white;
}

h1 {
    color: #ffffff;
}
.last-played {
    position: relative;
    display: flex;
    flex-direction: row; /* agar menyamping */
    margin: 5px;
}
.featured {
    position: relative;
    display: flex;
    background-color: #454352;
    width: 400px;
    height: 200px;
}
