body {
    background-color: #171529;
    color: white;
}

h1 {
    color: #ffffff;
}
.last-played {
    position: relative;
    display: flex;
    margin: 5px;
}
.featuredcon {
    position: relative;
    width: 900px;
    height: 350px;
    /* background-color: white; */
}
.featured-title {
    position: absolute;
    display: flex;
    left: 50px;
}
.mbuh {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.featured {
    position: absolute;
    display: flex;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #454352;
    width: 800px;
    height: 300px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.773);

}
.utama {
    position: absolute;
    width: 500px;
    height: 300px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.527);
    transition: background-image 0.3s ease ;
}
.sub1:hover{
    background-image: url("{{ asset('main/sub3/dirt2.png') }}");
}
.subcon{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 500px;
    top: 50%;
    transform: translateY(-50%);
}
.sub1 {
    position: absolute;
    width: 145px;
    height: 70px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.527);
}
.sub2 {
    position: absolute;
    width: 145px;
    height: 70px;
    right: 0;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.527);
}
.sub3 {
    position: absolute;
    width: 145px;
    height: 70px;
    bottom: 0;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.527);
}
.sub4 {
    position: absolute;
    width: 145px;
    height: 70px;
    bottom: 0;
    right: 0;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.527);
}
.featured p {
    position: absolute;
    left: 520px;
}
.arrowl {
    position: absolute;
    width: 30px;
    height: 70px;
    left: -40px;
    background-color: #454352;
    transform:translateY(-50%);
    top: 50%;
}
.arrowr {
    position: absolute;
    width: 30px;
    height: 70px;
    right: -40px;
    background: linear-gradient(
        180deg,
        rgb(100, 99, 99) 100%,
        rgb(83, 83, 83) 100%,
        rgb(57, 57, 57) 100%
        );
    background-color: #454352;
    transform:translateY(-50%);
    top: 50%;
}
