body {
    background-color: #171529;
}

h1 {
    color: #ffffff;
}
.profilimg {
    position: fixed;
    border-radius: 50%;
    right: 20px;
    width: 40px;
    height: 40px;
}
.profilimg:hover {
    transform: scale(1.2);
    opacity: 0.8;
    filter: brightness(1.2);
}
.profil {
   position: absolute;
    border-radius: 50%;
    right: 20px;
    width: 40px;
    height: 40px;
}
.navbar {
    top: 0px;
    background-color: #2c284e;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.8);
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 5px;
}
.navbars {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    right: 0px;
    margin: 0px;
}
